iskomyut/lib/dbmanager/lib/sqldetails.env
iskomyut/android/settings.gradle
iskomyut/android/app/src/main/AndroidManifest.xml
iskomyut/macos/Flutter/GeneratedPluginRegistrant.swift
iskomyut/windows/flutter/generated_plugin_registrant.cc
iskomyut/windows/flutter/generated_plugins.cmake
iskomyut/android/app/src/main/AndroidManifest.xml
